:root {
  // LAYOUTS
  --layout-width: 992px;
  --layout-min-width: 300px;

  // FONTS
  --font-main: 'Open Sans', sans-serif;
  --font-heading-1: 600 24px/1.2 var(--font-main);
  --font-heading-2: 400 20px/1.2 var(--font-main);
  --font-body-s: 400 14px/1.2 var(--font-main);
  --font-body: 400 16px/1.2 var(--font-main);

  // COLORS
  --color-blank: #fff;
  --color-black: #0d0d0d;
  --color-grey: #ccc;
  --color-grey-dark: #666;
  --color-yellow: #fabc48;
  --color-text: #121212;
  --color-bg-light: #343d4b;
  --color-bg: #222831;
  --color-bg-dark: #222831;
  --gradient-blue: linear-gradient(90.8deg, rgb(144 217 224 / 90%) 0.2%, rgb(84 96 230 / 90%) 100%);

  // RADIUSES
  --radius: 4px;
  --radius-l: 10px;
  --radius-xl: 25px;

  // OTHERS
  --transition-duration: 0.3s;
}