{
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["*.css", "*.scss", "*.sass"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
