.search {
  min-height: 52px;

  &__form {
    display: flex;
    column-gap: 12px;
  }

  &__input-wrapper {
    position: relative;
    display: grid;
    flex-grow: 1;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 24px;
      height: 24px;
      background: url('../icons/search.svg') no-repeat 0 0 / 100% 100%;
      transform: translate(50%, -50%);
      content: '';
    }
  }

  &__input {
    padding-left: 48px;
  }

  &__btn {
    width: 52px;
    color: var(--color-blank);
    background: black;
  }

  &__presets {
    padding: 8px 64px 0 8px;
    font: var(--font-body-s);
  }

  &__preset {
    text-decoration: underline;
    color: var(--color-text);
  }
}