.header {
  position: sticky;
  top: -1px;
  z-index: 10;
  background: var(--color-blank);

  &_scrolled {
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 30%);
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}
