.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px 24px;

  &__link {
    width: max-content;
    display: flex;
    align-items: center;
    column-gap: 8px;
    text-decoration: none;
    color: inherit;

    &_bold {
      font-weight: 700;
    }
  }
}
