.base-btn {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  min-height: 52px;
  font: var(--font-body);
  background: transparent;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  column-gap: 8px;

  &:disabled {
    opacity: 0.5;
  }
}