@use '@/scss/common/typography' as typography;

.base-button {
  @include typography.main-text(20px, 600);

  flex-shrink: 0;
  min-height: 52px;
  padding-inline: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  overflow: hidden;
  font-family: inherit;
  color: var(--base-button-color, var(--color-text));
  background: var(--base-button-background, transparent);
  border: none;
  border-radius: var(--radius);
  transition: background var(--duration);
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
  }

  &_theme {
    &_primary {
      position: relative;

      --base-button-color: var(--color-blank);
      --base-button-background: var(--color-gradient-horizontal-blue);

      &::before {
        position: absolute;
        inset: 0;
        content: '';
        background: var(--color-gradient-horizontal-blue-invert);
        opacity: 0;
        transition: opacity var(--duration-xl);
      }
    }
  }

  &__inner {
    z-index: 1;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    column-gap: inherit;
  }

  @media (hover: hover) and (pointer: fine) {
    &_theme {
      &_primary {
        &:not(:disabled):hover::before {
          opacity: 1;
        }
      }
    }
  }
}
