@use '@/scss/common/typography' as typography;

.day-button {
  @include typography.main-text(20px, 400);

  flex-grow: 1;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  color: var(--day-button-color, var(--color-blank));
  background: var(--day-button-background, var(--color-bg));
  border-radius: var(--radius-l);

  &[data-active='true'] {
    --day-button-color: var(--color-text);
    --day-button-background: var(--color-blank);
  }

  &__temperature {
    font-weight: 700;
  }

  @media (width >= 650px) {
    flex-direction: column;
  }

  @media (hover: hover) and (pointer: fine) {
    &:not([data-active]):hover {
      --day-button-background: var(--color-grey);
    }
  }
}
