@use '@/scss/common/typography' as typography;

.days-panel {
  padding: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 68px;
  color: var(--color-blank);
  background: var(--color-bg-dark);
  border-radius: var(--radius-l);

  &__stats {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    list-style-type: none;
  }

  &__day-buttons {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  @media (width >= 650px) {
    padding: 56px 48px;
    border-radius: var(--radius-xl);

    &__info-item {
      font-size: 28px;
    }

    &__day-buttons {
      flex-direction: row;
    }
  }

  @media (width >= 1200px) {
    min-height: 620px;
    justify-content: space-between;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
