@use 'common/typography' as typography;
@use 'common/variables';
@use 'base/reset/reset-button';
@use 'base/styles/line-clamp-style';
@use 'base/base-box';
@use 'base/base-button';
@use 'base/base-input';
@use 'base/sprite-icon';
@use 'blocks/day-detail';
@use 'blocks/days-panel';
@use 'blocks/day-button';
@use 'sections/weather-section';
@use 'layouts/main';
@use 'layouts/page';
@use 'layouts/section';
@use 'layouts/header';
@use 'layouts/logo';
@use 'layouts/menu';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: var(--layout-min-width);
  font: var(--font-body);
  color: var(--color-text);
}

/*
 breakpoints:
   576:
   768:
   992:
   1200:
   1400:
*/
